# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment variables / secrets
.env
*.env
secrets/
*.key
*.pem

# Logs
*.log
logs/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
tfplan